* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
}

header {
  margin: 0 15em;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  color: coral;
}

main {
  margin: 0 15em;
}

.list-item {
  background-color: blue;
  padding: 0.4em 0.4em 0.1em 0.4em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  color: white;
  width: 17em;
  height: 2em;
}

input[type="text"] {
  border: 1px solid blue;
  border-radius: 3px;
  width: 15em;
  height: 2em;
}

button {
  margin-left: 1em;
  padding: 0.3em 1em;
  margin-bottom: 1em;
  background-color: coral;
  border: 1px solid blue;
  border-radius: 3px;
}
